<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seig.backend.mapper.StorageLocationMapper">
<!--    <select id="selectFreeLocations" resultType="int">-->
<!--    SELECT location_id-->
<!--    FROM storage_locations-->
<!--    WHERE container_id IN-->
<!--    <foreach item="containerId" collection="containerIds" open="(" separator="," close=")">-->
<!--        #{containerId}-->
<!--    </foreach>-->
<!--      AND current_drug_id IS NULL-->
<!--</select>-->
     <select id="selectEmptyLocations" resultType="int">
         SELECT location_id
         FROM storage_locations
         WHERE container_id IN
         <foreach item="containerId" collection="containerIds" open="(" separator="," close=")">
             #{containerId}
         </foreach>
         AND current_drug_id IS NULL
     </select>
     <select id="selectEmptyLocations" resultType="int">
         SELECT location_id
         FROM storage_locations
         WHERE container_id IN
         <foreach item="containerId" collection="containerIds" open="(" separator="," close=")">
             #{containerId}
         </foreach>
         AND current_drug_id IS NULL
     </select>

</mapper>